<%include partials/header %>
<h1>TO DO item #<%= id_ejs %></h1>
    <div>Name: <%= name_ejs %></div>
    <div>Priority: <%= priority_ejs %></div>
    <button onclick="location.href='/todos/';">Back</button>
</form>