<%include partials/header %>
<h1>Add new TO DO</h1>
<form action="/todos" method="post">
    <div>Name: <input type="name" name="name"></div>
    <div>Priority: <input type="priority" name="priority"></div>
    <input type="submit" name="submit">
</form>